:root {
    --border-thickness: 2px;

    /*colors*/
    --primary-green: hsl(136, 64%, 51%);
    --secondary-green: hsl(158, 61%, 49%);
    --primary-blue: hsl(192, 69%, 51%);

    --primary-gradient: linear-gradient(to right,
    var(--primary-green),
    var(--primary-blue));
     --primary-gradient-hover: linear-gradient(to right,
    var(--primary-blue),
    var(--primary-green));


    --pure-white: hsl(223, 100%, 100%);
    --rich-black: hsl(250, 100%, 12.5%);
    --grey-100: hsl(0, 0%, 98%);
    --grey-200: hsl(223, 18%, 96%);
    --grey-300: hsl(232.5, 8.16%, 61.57%);
    --grey-400: hsl(232.5, 0%, 59%);
    --grey-400-t: hsl(232.5, 0%, 0%, 30%);

    --blue-100: hsl(231, 26%, 24%);

    /*font-size*/
    --font-hero: 3.5rem;
    --font-large: 2.5rem;
    --font-medium-2: 1.625rem;
    --font-medium: 1.125rem;
    --font-normal: 1rem;
    --font-small: 0.875rem;
    --font-smaller: 0.625rem;

    /*media query*/
    --media-tablet: 550px;
    --media-desktop: 930px;

    --max-inline-size: 55ch;
    --ratio: 1.5;
    --s0: 1rem;
    --measure: 60ch;
    --s-1: calc(var(--s0) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-5: calc(var(--s-4) / var(--ratio));

    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

}
